.carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0 0;
}

.carousel-item-padding-40-px {
    padding: 0;
}

.carousel-card {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; 
    background-color: #ffffff; 
    border: 5px solid var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 6px 0px rgba(0, 0, 0, 0.2);
}
