@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*Color Scheme: first for fore, second for highlights.*/
    --background: #ffd7b5;
    --foreground: #fa945d;
  }
}

@font-face {
  font-family: 'Archivo';
  src: url('../../public/fonts/Archivo-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Archivo', sans-serif;
}

