.tagline {
    height: 40rem;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: clamp(7rem, 6vw, 0rem);
    margin: auto;
    padding: 3rem 2rem 10rem;
    width: 50%;
    color: #494949;
    margin-bottom: clamp(3rem, 10vw, 7rem);
}

.tagline-caption {
    padding-top: 20px;
    font-size: 2rem;
    font-weight: lighter;
}

.typewriter {
    color: var(--foreground);
    border-right: 2px solid var(--foreground);
    white-space: wrap;
    overflow: hidden;
    animation: blink 0.7s step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: var(--foreground);
    }
  }