main {
    margin-top: 100px; /* or whatever height your navbar is */
}

.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0.3), 
        rgba(255, 255, 255, 0.1)
    );
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 1.15rem;
    backdrop-filter: blur(10px); 
}


.navbar-contact {
    font-size: 22px;
    display: flex;
    align-items: center;
    height: 100%; 
    transition: font-size 0.2s;

}
