<!--
body {
    background-color: #202330;
    color: #FFF;
    margin: 0px;
    padding: 0px;
    font-family: "JetBrainsMono-Light";
}

h2 {
    color: #af76b8;
    font-family: "JetBrainsMono-LightItalic";
}

.comment {
    color: #4c5991;
    font-family: "JetBrainsMono-LightItalic";
}
-->